# Archivos de compilación de Maven y Java
/target/
/out/

# Archivos de configuración del IDE (IntelliJ)
.idea/
*.iml

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de registro (logs)
*.log

# Archivos de otros IDEs
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Ignorar la base de datos local de SQLite
chat_base_de_datos.db